@charset "UTF-8";

body{
            
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  
}
.container{
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sol{
    position: absolute ;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    box-shadow: 0 0 5em white;
}
.terra, .venus, .mercurio{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    

}
.terra{
   
    background-color: #007FFF;
    top: 52%;
    left: 52%;
    width: 40px;
    height: 40px;
    animation: terra 8s linear infinite;
}
.lua{
    position: absolute;
    background-color: silver;
    top: 35%;
    left: 35%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: lua 2s linear infinite;

}
.mercurio{
    background-color: rgb(113, 26, 26);
    top: 52%;
    left: 52%;
    width: 25px;
    height: 25px;
    animation: mercurio 2s linear infinite;
}
.venus{
    background-color: rgb(34, 18, 18);
    top: 51%;
    left: 51%;
    width: 35px;
    height: 35px;
    animation: venus 4.5s linear infinite;
}


@keyframes terra{
    0%{
        transform: rotate(0deg) translate(225px);
    }
    100%{
        transform: rotate(360deg) translate(225px);
    }
}
@keyframes lua{
    0%{
        transform: rotate(0deg) translate(25px);
    }
    100%{
        transform: rotate(360deg) translate(25px);
    }
}
@keyframes mercurio{
    0%{
        transform: rotate(0deg) translate(130px);
    }
    100%{
        transform: rotate(360deg) translate(130px);
    }
}
@keyframes venus{
    0%{
        transform: rotate(0deg) translate(175px);
    }
    100%{
        transform: rotate(360deg) translate(175px);
    }
}